<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Real-Time Text Editor</title>

    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet">

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        #editor {
            height: 400px;
        }
    </style>
</head>

<body>

    <h2>Room: {{ group_name }}</h2>
    <h3>
        Users Online:
        <span id="online-count">0</span>
    </h3>

    <div id="editor"></div>

    {{ group_name|json_script:"group-name" }}
    {{ docs_json|json_script:"doc-data" }}

    <script>

        const groupName = JSON.parse(
            document.getElementById("group-name").textContent
        );

        const docData = JSON.parse(
            document.getElementById("doc-data").textContent
        );

        const quill = new Quill("#editor", {
            theme: "snow",
            modules: {
                toolbar: [
                    [{ header: [1, 2, 3, false] }],
                    ["bold", "italic", "underline"],
                    [{ list: "ordered" }, { list: "bullet" }],
                    ["clean"]
                ]
            }
        });

        if (docData.content) {
            quill.clipboard.dangerouslyPasteHTML(
                docData.content
            );
        }

        const socket = new WebSocket(
            "ws://" +
            window.location.host +
            "/ws/editor/" +
            groupName +
            "/"
        );

        socket.onopen = function () {
            console.log("WebSocket Connected");
        };

        quill.on("text-change", function (delta, oldDelta, source) {

            if (source === "user") {

                socket.send(
                    quill.root.innerHTML
                );

            }

        });

        socket.onmessage = function (event) {

            const data = JSON.parse(event.data);

            if (data.type === "count") {

                document.getElementById(
                    "online-count"
                ).innerText = data.count;

            }

            else if (data.type === "editor") {

                if (data.message !== quill.root.innerHTML) {

                    quill.root.innerHTML = data.message;

                }

            }

        };
    </script>

</body>

</html>